<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se deconnecter</title>
</head>
<body>
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Voulez vous vous deconnecter ?</h1>
            <input type="submit" placeholder="OUI" value="OUI">
            <button><a href="{% url 'QRCODE:accueil' %}">NON</a></button>
        </form>
    </center>
</body>
</html>